
*{
  font-size: 18px;
}

/*header style*/
header {
  display: flex;
  background-color: white;
}

.logo {
  flex: 1;
}
.logoimage img {
  width: 100%;
}

.name {
  flex-grow: 8;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
font-stretch: expanded;
font-size: 25px;
}
/*body {
  background-color: #f7eefa;
}*/
nav {
  position: relative;
  flex:1;
  font-family: 'Raleway';
}



.navButton {

  text-align: right;
}

nav ul.menu {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;
  font-family: 'Raleway';
  /*border: 1px solid black;*/
  background-color: #D3D3D3;

}

nav:hover ul{
  display: block;
}
/* end of header styles*/

/* Main Content style */
main {
  min-height: 200px;
  font-family: 'Raleway';
  /*border: 1px solid black;*/
}
.profileimage {
  text-align: center;
  transform:rotateY(180deg);
}
.profileimage img{
  width: 60%;
  border-radius: 50%;
}



/* end of main content style*/

/* footer style */
footer {
  text-align: center;
  font-family: 'Raleway';
  /*background-image: url('../images/10xgrid.png')*/
  padding: 10px; 
}

.SocialMedia i {
  padding: 0 .5rem;
}
.contact a{
  text-decoration: none;
  color: black;
}

/* end of footer styles */


@media screen and (min-width: 800px) {
  section {
    display: flex;
    flex-direction: row-reverse;
  }
  .profileimage {
    flex:1;
    transform:rotateY(0deg);
  }
  .profileimage img{
    width: 60%;

  }
  main{
    text-align: center;
  }
  .aboutMe {
    flex: 1;
  }
  footer {
    display: flex;
  }
  .copy, .socialmedia, .contact {
    flex: 1;
  }
  .copy {
    text-align: left;
  }
  .contact {
    text-align: right;
  }
}
