
*{
  font-size: 18px;
}

/*header style*/
header {
  display: flex;
}

.logo {
  flex: 1;
}
.logoImage img {
  width: 100%;
}

.name {
  flex-grow: 8;
  text-align: center;
}

nav {
  position: relative;
  flex:1;
}



.navButton {

  text-align: right;
}

nav ul .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;

}

nav:hover ul{
  display: block;
}
/* end of header styles*/

/* Main Content style */
main {
  min-height: 200px;
  /*border: 1px solid black;*/
}
.profileimage {
  text-align: center;
}
.profileimage img{
  width: 80%;
  border-radius: 50%;

}



/* end of main content style*/

/* footer style */
footer {
  text-align: center;
  /*background-image: url('../images/10xgrid.png')*/
}

.SocialMedia i {
  padding: 0 .5rem;
}


/* end of footer styles */
